$prfxs-all: webkit khtml moz ms o !default;
$prfxs_border-radius: webkit moz !default;
$prfxs_background-clip: moz !default;

$border-radius: null !default;

$bem_element: "__" !default;
$bem_modifier: "--" !default;
