$prfxs-all: webkit khtml moz ms o !default;
$prfxs_border-radius: webkit moz !default;
$prfxs_background-clip: moz !default;
$prfxs_user-select: webkit moz ms !default;
$prfxs_transition: webkit moz o !default;
$prfxs_transform: webkit moz ms o !default;
$prfxs_transform-style: webkit moz !default;
$prfxs_tab-size: moz o !default;
$prfxs_opacity: moz khtml !default;

$border-radius: null !default;

$bem: (
	element: "__",
	modifier: "--"
) !default;

$opacity: (
	ie5: true,
	ie8: true
) !default;
