$prfxs-all              : webkit khtml moz ms o !default;
$prfxs_border-radius    : webkit moz !default;
$prfxs_background-clip  : moz !default;
$prfxs_user-select      : webkit moz ms !default;
$prfxs_transition       : webkit moz o !default;
$prfxs_transform        : webkit moz ms o !default;
$prfxs_transform-style  : webkit moz !default;
$prfxs_tab-size         : moz o !default;
$prfxs_opacity          : moz khtml !default;
$prfxs_object-fit       : o !default;
$prfxs_column-count     : webkit moz !default;
$prfxs_column-fill      : $prfxs_column-count !default;
$prfxs_column-gap       : $prfxs_column-count !default;
$prfxs_column-rule      : $prfxs_column-count !default;
$prfxs_column-rule-color: $prfxs_column-count !default;
$prfxs_column-rule-style: $prfxs_column-count !default;
$prfxs_column-rule-width: $prfxs_column-count !default;
$prfxs_column-span      : webkit !default;
$prfxs_column-width     : $prfxs_column-count !default;
$prfxs_columns          : $prfxs_column-count !default;
$prfxs_box-sizing       : webkit moz o !default;
$prfxs_backdrop-filter  : webkit !default;
$prfxs_animation        : webkit moz o !default;
$prfxs_animation-delay  : $prfxs_animation !default;
$prfxs_animation-direction  : $prfxs_animation !default;
$prfxs_animation-duration  : $prfxs_animation !default;

$border-radius: null !default;

$bem: (
	element: "__",
	modifier: "--"
) !default;

$opacity: (
	ie5: true,
	ie8: true
) !default;
