$package: (

	name: "@rx1310/kalium19",
	title: "Kalium19",
	description: "📦 Набор утилит, миксинов, расширений на языке препроцессора @sass для помощи в ускорении, упрощении и улучщения процесса написания CSS-стилей.",

	author: (
		name : "Haba Kudzaev (rx1310)",
		email: "rx1310@inbox.ru",
		url  : "https://rx1310.github.io"
	),

	license: "MIT License",
	homepage: "https://github.com/rx1310/kalium19",
	npm: "https://npmjs.com/package/@rx1310/kalium19",
	ghp: "https://github.com/rx1310/kalium19/packages/1547304"

);

@mixin check() {

	$package-title: map-get($package, title);
	$package-name: map-get($package, name);
	$package-author: map-get($package, author, name);
	$package-author_email: map-get($package, author, email);
	$package-license: map-get($package, license);
	$package-homepage: map-get($package, homepage);
	$package-npm: map-get($package, npm);
	$package-ghp: map-get($package, ghp);

	/*
	 * @name:
	   └─ package: #{$package-name}
		 └─ project: #{$package-title}
	 * @license
	   └─ #{$package-license}
	 * @author:
	   └─ name: #{$package-author}
		 └─ email: #{$package-author_email}
	 * @links:
	   └─ homepage: #{$package-homepage}
		 └─ npm: #{$package-npm}
		 └─ ghp: #{$package-ghp}
	 */

	@debug '#{$package-title} installed!'

}
