/// Вспомогательный псевдоклас помогающий нам разрешать ситуации
/// со схлопывающейся высотой у родительского div'a когда внутри него
/// расположенный плавающие элементы например с float:left.
///
/// @name clearfix
/// @access public
/// @since 4.0.0
@mixin clearfix {
	&::after {
		content: '';
		display: table;
		clear: both;
	}
}
