/// Вспомогательный псевдоклас помогающий нам разрешать ситуации
/// со схлопывающейся высотой у родительского div'a когда внутри него
/// расположенный плавающие элементы например с float:left.
/// ---
/// @name clearfix
/// @since 4.0.0
/// @author Haba Kudzaev
/// @link https://github.com/rx1310/kalium19
/// @example scss Пример использования в Sass (SCSS)
/// 	.block {
/// 		@include clearfix();
/// 	}
/// @example css Результат в CSS
/// 	.block::after {
/// 	  content: "";
/// 	  display: table;
/// 	  clear: both;
/// 	}
/// @access public
@mixin clearfix {
	&::after {
		content: '';
		display: table;
		clear: both;
	}
}
