@use '../config' as *;
@use '../prefixer' as *;
@use '../utils/map-deep-get' as *;

/// @name opacity
/// @access public
/// @require {Mixin} prefixer
/// @require {Function} map-deep-get
/// @see {Variable} $opacity
/// @since 4.0.0
/// @param {String} $value - значение свойства `opacity`
@mixin opacity($value) {

	$value-ie: $value * 100;

	@include prefixer(
		opacity,
		$value,
		$prfxs_opacity
	);

	@if map-deep-get($opacity, ie5) == true {
		/* for IE 5-7 */
		filter: alpha(opacity=$value-ie);
	}

	@if map-deep-get($opacity, ie8) == true {
		/* for IE 8 */
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$value-ie})";
	}

}
