@use '../../config' as *;
@use '../../prefixer/' as *;

/// @name flex-align
/// @access private
/// @group flex
/// @require prefixer
/// @since 4.0.0
/// @param $valueue - значение свойства `flex-align`
@mixin flex-align($value) {
	@include prefixer(flex-align, $value, $prfxs_flex-align, false);
}
