@use '../config' as *;

/// Миксин для разработчиков Kalium19, который отображает
/// сообщение с ошибкой о том, что свойство не приминает
/// такое значение.
/// ---
/// @name invalid-value-message
/// @since 4.2.0
/// @group dev
/// @access private
@mixin invalid-value-message($variants, $prop, $value) {

	$_message-error: "Kalium19 🟥 «#{$prop}» не может принять значение «#{$value}»! Допустимые значения: #{$variants}.";
	$_message-warn: "🟧 «#{$prop}» не был сгенерирован, т.к. не может принимать значение «#{$value}»!";
	$_message-valid-variants: '🟦 ┌ Допустимые значения для «#{$prop}»:';

	@if $strict-mode == 'warn' {

		@warn $_message-warn;
		@debug $_message-warn;
		@debug $_message-valid-variants;

		/* #{$_message-warn} */
		/* #{$_message-valid-variants} */

		@each $variant in $variants {
			@debug '✅ └─ #{$variant}';
			/* ✅ └─ #{$variant} */
		}

		/* 🟥 └⤬ #{$value} */

	} @else if $strict-mode == 'error' {
		@error $_message-error;
	} @else if $strict-mode == 'debug' {
		@debug $_message-warn;
		@debug $_message-valid-variants;
		@each $variant in $variants {
			@debug '✅ └─ #{$variant}';
		}
	}

}
