$amber: (
	50: #fff8e1,
	100: #ffecb3,
	200: #ffe082,
	300: #ffd54f,
	400: #ffca28,
	500: #ffc107,
	600: #ffb300,
	700: #ffa000,
	800: #ff8f00,
	900: #ff6f00,
	A100: #ffe57f,
	A200: #ffd740,
	A400: #ffc400,
	A700: #ffab00
);

$amber--50  : #fff8e1;
$amber--100 : #ffecb3;
$amber--200 : #ffe082;
$amber--300 : #ffd54f;
$amber--400 : #ffca28;
$amber--500 : #ffc107;
$amber--600 : #ffb300;
$amber--700 : #ffa000;
$amber--800 : #ff8f00;
$amber--900 : #ff6f00;
$amber--A100: #ffe57f;
$amber--A200: #ffd740;
$amber--A400: #ffc400;
$amber--A700: #ffab00;
