$deep-orange: (
	50: #fbe9e7,
	100: #ffccbc,
	200: #ffab91,
	300: #ff8a65,
	400: #ff7043,
	500: #ff5722,
	600: #f4511e,
	700: #e64a19,
	800: #d84315,
	900: #bf360c,
	A100: #ff9e80,
	A200: #ff6e40,
	A400: #ff3d00,
	A700: #dd2c00
);

$deep-orange--50  : #fbe9e7;
$deep-orange--100 : #ffccbc;
$deep-orange--200 : #ffab91;
$deep-orange--300 : #ff8a65;
$deep-orange--400 : #ff7043;
$deep-orange--500 : #ff5722;
$deep-orange--600 : #f4511e;
$deep-orange--700 : #e64a19;
$deep-orange--800 : #d84315;
$deep-orange--900 : #bf360c;
$deep-orange--A100: #ff9e80;
$deep-orange--A200: #ff6e40;
$deep-orange--A400: #ff3d00;
$deep-orange--A700: #dd2c00;
