$grey: (
	50: #fafafa,
	100: #f5f5f5,
	200: #eeeeee,
	300: #e0e0e0,
	400: #bdbdbd,
	500: #9e9e9e,
	600: #757575,
	700: #616161,
	800: #424242,
	900: #212121,
	A100: #ffffff,
	A200: #eeeeee,
	A400: #bdbdbd,
	A700: #616161
);

$grey--50  : #fafafa;
$grey--100 : #f5f5f5;
$grey--200 : #eeeeee;
$grey--300 : #e0e0e0;
$grey--400 : #bdbdbd;
$grey--500 : #9e9e9e;
$grey--600 : #757575;
$grey--700 : #616161;
$grey--800 : #424242;
$grey--900 : #212121;
$grey--A100: #ffffff;
$grey--A200: #eeeeee;
$grey--A400: #bdbdbd;
$grey--A700: #616161;
