$purple: (
	50: #f3e5f5,
	100: #e1bee7,
	200: #ce93d8,
	300: #ba68c8,
	400: #ab47bc,
	500: #9c27b0,
	600: #8e24aa,
	700: #7b1fa2,
	800: #6a1b9a,
	900: #4a148c,
	A100: #ea80fc,
	A200: #e040fb,
	A400: #d500f9,
	A700: #aa00ff
);

$purple--50  : #f3e5f5;
$purple--100 : #e1bee7;
$purple--200 : #ce93d8;
$purple--300 : #ba68c8;
$purple--400 : #ab47bc;
$purple--500 : #9c27b0;
$purple--600 : #8e24aa;
$purple--700 : #7b1fa2;
$purple--800 : #6a1b9a;
$purple--900 : #4a148c;
$purple--A100: #ea80fc;
$purple--A200: #e040fb;
$purple--A400: #d500f9;
$purple--A700: #aa00ff;
