@use '../config' as *;
@use '../prefixer' as *;
@use '../background/clip' as *;

/// Миксин `border-radius()` является лишь оберткой
/// над миксином `prefixer()`, который генерирует свойство
/// `border-radius` с префиксами, которые хранятся в переменной `$prfxs_border-radius`
///
/// @name border-radius
/// @group mixin.border-radius
/// @access public
/// @require {Mixin} prefixer
/// @require {Mixin} background-clip
/// @see {Variable} $border-radius
/// @since 4.0.0
/// @param {String | Number} $radius [$border-radius] - радиус скругления
/// @param {String} $clip [null] - значение свойства `background-clip`
@mixin border-radius($radius: $border-radius, $clip: null) {

	// если значение параметра $clip истина (true) или "padding",
	// то присваиваем значение "padding-box" свойству background-clip:
	@if $clip == true or $clip == padding or $clip == border {

		$clipValue: null !default;

		@if $clip == true or $clip == padding {
			$clipValue: padding-box;
		} @else {
			$clipValue: border-box;
		}

		// т.к. Firefox до версии 4 поддерживает свойство
		// с префиксом и значения padding и border
		@include background-clip($clipValue);

	} @else if $clip != null {
		background-clip: $clip;
	}

	// ? [1] передаем префиксеру свойство, к которому надо добавить префиксы
	// ? [2] передаем префиксеру значение свойства
	// ? [3] передаем префиксеру список префиксов, которые должны быть добавлены к свойству
	@include prefixer(
		border-radius, // 1
		$radius, // 2
		$prfxs_border-radius // 3
	);

	// оповестим разработчика о том, что его
	// машина зря работает и пытается сгенерить пустой миксин:
	@if $radius == null {
		@warn '👻 Используется пустой миксин "border-radius"!'
	}

}
