@use '../prefixer' as *;

/// @name position
/// @group position
/// @access public
/// @since 4.0.0
/// @param {string} $position - значение свойства `posotion`
/// @param {int} $top [null]
/// @param {int} $right [null]
/// @param {int} $bottom [null]
/// @param {int} $left [null]
@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
	position: $position;
	top     : $top;
	right   : $right;
	bottom  : $bottom;
	left    : $left;
}

/// @name position-absolute
/// @group position
/// @access public
/// @since 4.0.0
/// @require {mixin} position
/// @param {int} $top [null]
/// @param {int} $right [null]
/// @param {int} $bottom [null]
/// @param {int} $left [null]
@mixin position-absolute($top: null, $right: null, $bottom: null, $left: null) {
	@include position(absolute, $top: $top, $right: $right, $bottom: $bottom, $left: $left);
}

/// @name position-relative
/// @group position
/// @access public
/// @since 4.0.0
/// @require {mixin} position
/// @param {int} $top [null]
/// @param {int} $right [null]
/// @param {int} $bottom [null]
/// @param {int} $left [null]
@mixin position-relative($top: null, $right: null, $bottom: null, $left: null) {
	@include position(relative, $top: $top, $right: $right, $bottom: $bottom, $left: $left);
}

/// @name position-fixed
/// @group position
/// @access public
/// @since 4.0.0
/// @require {mixin} position
/// @param {int} $top [null]
/// @param {int} $right [null]
/// @param {int} $bottom [null]
/// @param {int} $left [null]
@mixin position-fixed($top: null, $right: null, $bottom: null, $left: null) {
	@include position(fixed, $top: $top, $right: $right, $bottom: $bottom, $left: $left);
}

/// @name position-sticky
/// @group position
/// @access public
/// @since 4.1.3
/// @require {mixin} prefixer
/// @param {string} $side [top] - сторона, к которой "лепится" элемент
/// @param {int} $sideOffset [0] - отступ от стороны
@mixin position-sticky($side: "top", $sideOffset: 0) {
	@include prefixer(position, sticky, webkit, true, true);
	#{$side}: $sideOffset;
}
