@use '../config' as *;
@use '../utils/contains' as *;

/// @name font-face
/// @since 4.0.0
/// @access public
/// @author ?
/// @example scss Пример использования в Sass (SCSS)
/// 	@include font-face(Roboto, "./fonts/Roboto", normal, normal, woff2 woff ttf);
/// @example css Результат в CSS
/// 	@font-face {
/// 	  font-family: "Roboto";
/// 	  font-weight: normal;
/// 	  font-style: normal;
/// 	  src: url("./assets/Roboto.woff") format("woff");
/// 	  src: url("./assets/Roboto.woff2") format("woff2");
/// 	  src: url("./assets/Roboto.ttf") format("truetype");
/// 	}
/// @see {Variable} $formats_font-face
/// @require {Mixin}
/// @require {Function} contains
/// @param {String} $font-name - название шрифта (без расширения)
/// @param {String} $path - путь до папки со шрифтами
/// @param {String} $weight [normal] - насыщенность шрифта (значение указывается в виде чисел от 100 до 900 с шагом 100 или с помощью заданных ключевых слов)
/// @param {String} $style [normal] - начертание шрифта (обычное, курсивное или наклонное)
/// @param {String} $formats [$formats_font-face] - список расширений файлов шрифтов
@mixin font-face($font-name, $path, $weight: normal, $style: normal, $formats: $formats_font-face) {

	@font-face {

		font: {
			family: quote($font-name);
			weight: $weight;
			style: $style;
		}

		@if (contains($formats, eot)) {
			/* EOT font type */
			src: url($path+".eot")
		}

		@if (contains($formats, 'eot?#iefix')) {
			/* EOT font type (Embedded OpenType) */
			src: url($path+".eot?#iefix") format("embedded-opentype");
		}

		@if (contains($formats, woff)) {
			/* Woff font */
			src: url($path+".woff") format("woff");
		}

		@if (contains($formats, woff2)) {
			/* Woff2 font */
			src: url($path+".woff2") format("woff2");
		}

		@if (contains($formats, ttf)) {
			/* TrueType font */
			src: url($path+".ttf") format("truetype");
		}

		@if (contains($formats, otf)) {
			/* OpenType Font */
			src: url($path+".otf") format("opentype");
		}

		@if (contains($formats, svg)) {
			/* SVG-font type */
			src: url($path+".svg##{$font-name}") format("svg");
		}

	}

}
