@use '../config' as *;
@use '../utils/map-deep-get' as *;

/// @name keyframes
/// @access public
/// @require {function} map-deep-get
/// @since 4.0.0
/// @example SCSS
/// 	@include keyframes(frameName) { ... }
/// @param {string} $name
@mixin keyframes($name) {

	@if map-deep-get($keyframes, webkit) == true {
		@-webkit-keyframes #{$name} {
			@content
		}
	};

	@if map-deep-get($keyframes, moz) == true {
		@-moz-keyframes #{$name} {
			@content
		}
	};

	@if map-deep-get($keyframes, ms) == true {
		@-ms-keyframes #{$name} {
			@content
		}
	};

	@if map-deep-get($keyframes, o) == true {
		@-o-keyframes #{$name} {
			@content
		}
	};

	@keyframes #{$name} {
		@content
	}

}
