@use '../prefixer' as *;

/// Миксин `background-clip()` также является лишь обёрткой над
/// миксином `prefixer()`, который добавляет CSS-свойству
/// `background-clip` браузерные префиксы.
///
/// @name animation-timing-function()
/// @access public
/// @require {mixin} prefixer
/// @since 4.0.0
/// @param {string} $value [border-box] - значение свойства `background-clip`
@mixin background-clip($value: border-box) {

	// ? [1] передаем префиксеру свойство, к которому надо добавить префиксы
	// ? [2] передаем префиксеру значение свойства
	// ? [3] передаем префиксеру список префиксов, которые должны быть добавлены к свойству
	@include prefixer(
		background-clip, // 1
		$value, // 2
		moz // 3
	);

}

// * `padding-box` - фон отображается внутри границ
// * `border-box` - фон выводится под границами
// * `content-box` - фон отображается только внутри контента
// * `text` - фон отображается только внутри текста

/// Doka: "Свойство `background-clip` определяет, в каких областях будет
/// находиться фоновая картинка и фоновый цвет блока."
