/// @deprecated
/// @name background-gradient
/// @since 4.0.0
/// @group mixin.background
/// @access public
/// @author Justin Brazeau
/// @link https://toptal.com/resume/justin-brazeau
///	@example scss Пример использования в Sass
/// 	.block {
/// 		@include background-gradient(red, blue, vr);
/// 	}
/// @example css Результат в CSS
/// 	.block {
/// 	  background: red;
/// 	  background: -webkit-linear-gradient(top, red, blue);
/// 	  background: linear-gradient(to bottom, red, blue);
/// 	}
/// @param {Color} $start-color [#3C3C3C] - цвет начала графиента
/// @param {Color} $end-color [#999999] - цвет конца градиента
/// @param {String} $orientation [null] - направление
@mixin background-gradient($start-color, $end-color, $orientation) {

	background: $start-color;

	@if $orientation == 'vertical' or $orientation == 'vr' {
		background: -webkit-linear-gradient(top, $start-color, $end-color);
		background: linear-gradient(to bottom, $start-color, $end-color);
	} @else if $orientation == 'horizontal' or $orientation == 'hr' {
		background: -webkit-linear-gradient(left, $start-color, $end-color);
		background: linear-gradient(to right, $start-color, $end-color);
	} @else {
		background: -webkit-radial-gradient(center, ellipse cover, $start-color, $end-color);
		background: radial-gradient(ellipse at center, $start-color, $end-color);
	}

}

// ? Doka: "Функция `linear-gradient` используется для задания
// ? фона в виде линейного градиента."
