/// @deprecated
/// @name background-gradient
/// @group background
/// @access public
/// @since 4.0.0
/// @author Justin Brazeau
/// @link https://toptal.com/resume/justin-brazeau
/// @param {color} $start-color [#3C3C3C] - цвет начала графиента
/// @param {color} $end-color [#999999] - цвет конца градиента
/// @param {string} $orientation [null] - направление
@mixin background-gradient($start-color, $end-color, $orientation) {

	background: $start-color;

	@if $orientation == 'vertical' or $orientation == 'vr' {
		background: -webkit-linear-gradient(top, $start-color, $end-color);
		background: linear-gradient(to bottom, $start-color, $end-color);
	} @else if $orientation == 'horizontal' or $orientation == 'hr' {
		background: -webkit-linear-gradient(left, $start-color, $end-color);
		background: linear-gradient(to right, $start-color, $end-color);
	} @else {
		background: -webkit-radial-gradient(center, ellipse cover, $start-color, $end-color);
		background: radial-gradient(ellipse at center, $start-color, $end-color);
	}

}

/// Doka: "Функция `linear-gradient` используется для задания
/// фона в виде линейного градиента."
