@use '../config' as *;
@use '../prefixer' as *;

/// Миксин `animation-delay()` также является лишь обёрткой
/// над миксином `prefixer()`, который добавляет CSS-свойству `animation-delay`
/// браузерные префиксы (в нашем случае префиксы прописаны в переменной
/// `$prfxs_animation-delay`).
/// @name animation-delay
/// @group animation()
/// @access public
/// @require {mixin} prefixer
/// @require {variable} $prfxs_animation-delay
/// @since 4.0.0
/// @param {string | int} $delay [0s] - значение свойства `animation-delay`
@mixin animation-delay($delay: 0s) {

	// ? [1] передаем префиксеру свойство, к которому надо добавить префиксы
	// ? [2] передаем префиксеру значение свойства
	// ? [3] передаем префиксеру список префиксов, которые должны быть добавлены к свойству
	@include prefixer(
		animation-delay, // 1
		$delay, // 2
		$prfxs_animation-delay // 3
	);

}
