@use '../config' as *;
@use '../prefixer' as *;

/// Миксин `animation-duration()` также является лишь обёрткой над
/// миксином `prefixer()`, который добавляет CSS-свойству `animation-duration`
/// браузерные префиксы (в нашем случае префиксы прописаны в
/// переменной `$prfxs_animation-duration`).
///
/// @name animation-duration
/// @group animation()
/// @access public
/// @require {mixin} prefixer
/// @require {variable} $prfxs_animation-duration
/// @since 4.0.0
/// @param {int | string} $duration [0s] - значение свойства `animation-duration`
@mixin animation-duration($duration: 0s) {

	// ? [1] передаем префиксеру свойство, к которому надо добавить префиксы
	// ? [2] передаем префиксеру значение свойства
	// ? [3] передаем префиксеру список префиксов, которые должны быть добавлены к свойству
	@include prefixer(
		animation-duration, // 1
		$duration, // 2
		$prfxs_animation-duration // 3
	);

}
