$blue-grey: (
	50: #eceff1,
	100: #cfd8dc,
	200: #b0bec5,
	300: #90a4ae,
	400: #78909c,
	500: #607d8b,
	600: #546e7a,
	700: #455a64,
	800: #37474f,
	900: #263238,
	A100: #cfd8dc,
	A200: #b0bec5,
	A400: #78909c,
	A700: #455a64
);

$blue-grey--50  : #eceff1;
$blue-grey--100 : #cfd8dc;
$blue-grey--200 : #b0bec5;
$blue-grey--300 : #90a4ae;
$blue-grey--400 : #78909c;
$blue-grey--500 : #607d8b;
$blue-grey--600 : #546e7a;
$blue-grey--700 : #455a64;
$blue-grey--800 : #37474f;
$blue-grey--900 : #263238;
$blue-grey--A100: #cfd8dc;
$blue-grey--A200: #b0bec5;
$blue-grey--A400: #78909c;
$blue-grey--A700: #455a64;
