$brown: (
	50: #efebe9,
	100: #d7ccc8,
	200: #bcaaa4,
	300: #a1887f,
	400: #8d6e63,
	500: #795548,
	600: #6d4c41,
	700: #5d4037,
	800: #4e342e,
	900: #3e2723,
	A100: #d7ccc8,
	A200: #bcaaa4,
	A400: #8d6e63,
	A700: #5d4037
);

$brown--50  : #efebe9;
$brown--100 : #d7ccc8;
$brown--200 : #bcaaa4;
$brown--300 : #a1887f;
$brown--400 : #8d6e63;
$brown--500 : #795548;
$brown--600 : #6d4c41;
$brown--700 : #5d4037;
$brown--800 : #4e342e;
$brown--900 : #3e2723;
$brown--A100: #d7ccc8;
$brown--A200: #bcaaa4;
$brown--A400: #8d6e63;
$brown--A700: #5d4037;
