$cyan: (
	50: #e0f7fa,
	100: #b2ebf2,
	200: #80deea,
	300: #4dd0e1,
	400: #26c6da,
	500: #00bcd4,
	600: #00acc1,
	700: #0097a7,
	800: #00838f,
	900: #006064,
	A100: #84ffff,
	A200: #18ffff,
	A400: #00e5ff,
	A700: #00b8d4
);

$cyan--50  : #e0f7fa;
$cyan--100 : #b2ebf2;
$cyan--200 : #80deea;
$cyan--300 : #4dd0e1;
$cyan--400 : #26c6da;
$cyan--500 : #00bcd4;
$cyan--600 : #00acc1;
$cyan--700 : #0097a7;
$cyan--800 : #00838f;
$cyan--900 : #006064;
$cyan--A100: #84ffff;
$cyan--A200: #18ffff;
$cyan--A400: #00e5ff;
$cyan--A700: #00b8d4;
