$deep-purple: (
	50: #ede7f6,
	100: #d1c4e9,
	200: #b39ddb,
	300: #9575cd,
	400: #7e57c2,
	500: #673ab7,
	600: #5e35b1,
	700: #512da8,
	800: #4527a0,
	900: #311b92,
	A100: #b388ff,
	A200: #7c4dff,
	A400: #651fff,
	A700: #6200ea
);

$deep-purple--50  : #ede7f6;
$deep-purple--100 : #d1c4e9;
$deep-purple--200 : #b39ddb;
$deep-purple--300 : #9575cd;
$deep-purple--400 : #7e57c2;
$deep-purple--500 : #673ab7;
$deep-purple--600 : #5e35b1;
$deep-purple--700 : #512da8;
$deep-purple--800 : #4527a0;
$deep-purple--900 : #311b92;
$deep-purple--A100: #b388ff;
$deep-purple--A200: #7c4dff;
$deep-purple--A400: #651fff;
$deep-purple--A700: #6200ea;
