$orange: (
	50: #fff3e0,
	100: #ffe0b2,
	200: #ffcc80,
	300: #ffb74d,
	400: #ffa726,
	500: #ff9800,
	600: #fb8c00,
	700: #f57c00,
	800: #ef6c00,
	900: #e65100,
	A100: #ffd180,
	A200: #ffab40,
	A400: #ff9100,
	A700: #ff6d00
);

$orange--50  : #fff3e0;
$orange--100 : #ffe0b2;
$orange--200 : #ffcc80;
$orange--300 : #ffb74d;
$orange--400 : #ffa726;
$orange--500 : #ff9800;
$orange--600 : #fb8c00;
$orange--700 : #f57c00;
$orange--800 : #ef6c00;
$orange--900 : #e65100;
$orange--A100: #ffd180;
$orange--A200: #ffab40;
$orange--A400: #ff9100;
$orange--A700: #ff6d00;
