$red: (
	50: #ffebee,
	100: #ffcdd2,
	200: #ef9a9a,
	300: #e57373,
	400: #ef5350,
	500: #f44336,
	600: #e53935,
	700: #d32f2f,
	800: #c62828,
	900: #b71c1c,
	A100: #ff8a80,
	A200: #ff5252,
	A400: #ff1744,
	A700: #d50000
);

$red--50  : #ffebee;
$red--100 : #ffcdd2;
$red--200 : #ef9a9a;
$red--300 : #e57373;
$red--400 : #ef5350;
$red--500 : #f44336;
$red--600 : #e53935;
$red--700 : #d32f2f;
$red--800 : #c62828;
$red--900 : #b71c1c;
$red--A100: #ff8a80;
$red--A200: #ff5252;
$red--A400: #ff1744;
$red--A700: #d50000;
