$teal: (
	50: #e0f2f1,
	100: #b2dfdb,
	200: #80cbc4,
	300: #4db6ac,
	400: #26a69a,
	500: #009688,
	600: #00897b,
	700: #00796b,
	800: #00695c,
	900: #004d40,
	A100: #a7ffeb,
	A200: #64ffda,
	A400: #1de9b6,
	A700: #00bfa5
);

$teal--50  : #e0f2f1;
$teal--100 : #b2dfdb;
$teal--200 : #80cbc4;
$teal--300 : #4db6ac;
$teal--400 : #26a69a;
$teal--500 : #009688;
$teal--600 : #00897b;
$teal--700 : #00796b;
$teal--800 : #00695c;
$teal--900 : #004d40;
$teal--A100: #a7ffeb;
$teal--A200: #64ffda;
$teal--A400: #1de9b6;
$teal--A700: #00bfa5;
