/// @name visually-hidden
/// @since 4.0.0
/// @access public
/// @author Haba Kudzaev
/// @link https://github.com/rx1310/kalium19
/// @example scss Пример использования в Sass (SCSS)
/// 	.block {
/// 		@include visually-hidden();
/// 	}
/// @example css Результат в CSS
/// 	.block {
/// 	  border: 0;
/// 	  clip: rect(0 0 0 0);
/// 	  height: 1px;
/// 	  margin: -1px;
/// 	  overflow: hidden;
/// 	  padding: 0;
/// 	  position: absolute;
/// 	  width: 1px;
/// 	}
@mixin visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
