/// @name text-shorten
/// @access public
/// @since 4.0.0
/// @param {int} $numLines [1]
@mixin text-shorten($numLines: 1) {

	white-space  : nowrap;
	text-overflow: ellipsis;
	overflow     : hidden;

	@supports (-webkit-line-clamp: $numLines) {

		overflow          : hidden;
		text-overflow     : ellipsis;
		white-space       : initial;
		display           : -webkit-box;
		display           : -moz-box;

		-webkit-line-clamp: $numLines;
		-webkit-box-orient: vertical;

	}

}
