@use '../config' as *;
@use '../prefixer' as *;

/// @name align-self
/// @access public
/// @group flex
/// @require {mixin} prefixer
/// @since 4.0.0
/// @param {string} $val [auto] - значение свойства `align-self`
@mixin align-self($val: auto) {

	@if      $val == flex-start { -ms-flex-item-align: start; }
	@else if $val == flex-end   { -ms-flex-item-align: end; }
	@else                       { -ms-flex-item-align: $val; }

	@include prefixer(align-self, $val, $prfxs_align-self);

}
