@use '../config' as *;
@use '../prefixer' as *;

/// @name align-self
/// @since 4.0.0
/// @group mixin.flex
/// @access public
/// @author Haba Kudzaev
/// @link https://github.com/rx1310/kalium19
/// @require {Mixin} prefixer
/// @param {String} $value [auto] - значение свойства `align-self`
@mixin align-self($value: auto) {

	@if      $value == flex-start { -ms-flex-item-align: start; }
	@else if $value == flex-end   { -ms-flex-item-align: end; }
	@else                       { -ms-flex-item-align: $value; }

	@include prefixer(align-self, $value, $prfxs_align-self);

}
