/// @name flex
/// @access public
/// @group flex
/// @require prefixer
/// @since 4.0.0
/// @param {string} $type [null] - значение свойства `flex`
@mixin flex($type: null) {
	@if $type == inline {
		display: -webkit-inline-box;
		display: -moz-inline-box;
		display: -webkit-inline-flex;
		display: -ms-inline-flexbox;
		display: inline-flex;
	} @else {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
	}
}
