@use '../config' as *;
@use '../prefixer' as *;

/// @name flex-shrink
/// @access public
/// @group flex
/// @require {mixin} prefixer
/// @see {variable} $prfxs_flex-shrink
/// @since 4.0.0
/// @param {int} $value [0] - значение свойства `flex-shrink`
@mixin flex-shrink($value: 0) {

	@include prefixer(
		flex-shrink,
		$value,
		$prfxs_flex-shrink
	);

	-ms-flex: $value;

}
