@use '../config' as *;
@use '../prefixer' as *;

/// Миксин `columns()` является лишь оберткой
/// над миксином `prefixer()`, который генерирует свойство
/// `box-shadow` с префиксами, которые хранятся в переменной `$prfxs_columns`
///
/// @name columns
/// @access public
/// @require prefixer
/// @since 4.0.0
@mixin columns($params...) {

	// ? [1] передаем префиксеру свойство, к которому надо добавить префиксы
	// ? [2] передаем префиксеру значение свойства
	// ? [3] передаем префиксеру список префиксов, которые должны быть добавлены к свойству
	@include prefixer(
		columns, // 1
		$params, // 2
		$prfxs_columns // 3
	);
}

/// WebRef: "Универсальное свойство, которое позволяет одновременно
/// задать ширину и количество колонок многоколоночного текста."
