@use '../config' as *;
@use '../prefixer' as *;

/// Миксин `column-count()` является лишь оберткой
/// над миксином `prefixer()`, который генерирует свойство
/// `box-shadow` с префиксами, которые хранятся в переменной `$prfxs_column-count`
///
/// @name column-count
/// @access public
/// @require prefixer
/// @since 4.0.0
/// @param $value - значение свойства `column-count`
@mixin column-count($value) {

	// ? [1] передаем префиксеру свойство, к которому надо добавить префиксы
	// ? [2] передаем префиксеру значение свойства
	// ? [3] передаем префиксеру список префиксов, которые должны быть добавлены к свойству
	@include prefixer(
		column-count, // 1
		$value, // 2
		$prfxs_column-count // 3
	);

}
