@use '../config' as *;
@use '../prefixer' as *;

/// Миксин `column-fill()` является лишь оберткой
/// над миксином `prefixer()`, который генерирует свойство
/// `box-shadow` с префиксами, которые хранятся в переменной `$prfxs_column-fill`
///
/// @name columns
/// @access public
/// @group colums
/// @require prefixer
/// @since 4.0.0
/// @see {mixin} column-fill-balance
/// @see {mixin} column-fill-balance-all
/// @param {string} $type [auto] - значение свойства `column-fill`
@mixin column-fill($type: auto) {

	// ? [1] передаем префиксеру свойство, к которому надо добавить префиксы
	// ? [2] передаем префиксеру значение свойства
	// ? [3] передаем префиксеру список префиксов, которые должны быть добавлены к свойству
	@include prefixer(
		column-fill, // 1
		$type, // 2
		$prfxs_column-fill // 3
	);

}

/// WebRef: "Определяет, как содержимое должно распределяться внутри колонок."

/// @name column-fill-balance
/// @access public
/// @require column-fill
/// @since 4.0.0
@mixin column-fill-balance {
	@include column-fill(balance)
}

/// @name column-fill-balance-all
/// @access public
/// @require column-fill
/// @since 4.0.0
@mixin column-fill-balance-all {
	@include column-fill(balance-all)
}
