/// В разных операционных системах и разных браузерах используются
/// разные механизмы сглаживания шрифта. Браузерные варианты свойства
/// `font-smooth` позволяют управлять сглаживанием шрифта, пока только в macOS.
/// ---
/// @name antialias
/// @since 4.0.0
/// @access public
/// @author gpessia
/// @link https://github.com/gpessia
/// @example scss Пример использования в Sass (SCSS)
/// 	.block {
/// 		@include antialias();
/// 	}
/// @example css Результат в CSS
/// 	.block {
/// 	  font-smooth: antialiased;
/// 	  -webkit-font-smoothing: antialiased;
/// 	  -moz-osx-font-smoothing: grayscale;
/// 	}
@mixin antialias {

	// ? [1] включает сглаживания оттенками серого, когда в сглаживании участвуют целые пиксели
	// ? [2] сглаживает по аналогии со значением antialiased для WebKit
	font-smooth: antialiased; // 1
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; // 2

}

// ? Doka: "Важно ещё раз акцентировать внимание,
// ? что это свойство — не часть стандарта.
// ? Оно реализуется и поддерживается по инициативе браузеров
// ? и может измениться или пропасть в любой момент."

// ? Doka: "Свойство совсем не работает ни в одном из браузеров
// ? на Windows, Android и iOS."
